[Unit]
Description=Collect Ace Probe container metrics every minute

[Timer]
OnCalendar=*-*-* *:*:00
Persistent=true
Unit=ace-probe.service

[Install]
WantedBy=timers.target
